<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="profit" >
  <sql id="Base_Column_List" >
    Id, Amount, Reason,ConsumptionStatus, Status, CreateOperator, CreateTime, ModifyOperator, DataChange_LastTime
  </sql>
  <select id="selectList" resultType="Profit">
    select 
    <include refid="Base_Column_List" />
    from w_profit
  </select>
  <insert id="addProfit" parameterType="Profit" >
    insert into w_profit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="reason != null" >
        Reason,
      </if>
      <if test="consumptionStatus != null" >
        ConsumptionStatus,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createOperator != null" >
        CreateOperator,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="modifyOperator != null" >
        ModifyOperator,
      </if>
      <if test="dataChangeLastTime != null" >
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="consumptionStatus != null" >
        #{consumptionStatus},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createOperator != null" >
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyOperator != null" >
        #{modifyOperator,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastTime != null" >
        #{dataChangeLastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="Profit" >
    update w_profit
    <set >
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        Reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="consumptionStatus != null" >
        #{consumptionStatus},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createOperator != null" >
        CreateOperator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyOperator != null" >
        ModifyOperator = #{modifyOperator,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastTime != null" >
        DataChange_LastTime = #{dataChangeLastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>